.range::-webkit-slider-thumb {
    background: #3d94e6;
    height: 0px;
    width: 0px;
    border-radius: 6px;
    --range-shdw: #3d94e6;
    border: none;
}
.range::-webkit-slider-runnable-track {
    height: 10px;
    width: 100%;
    border-radius: var(--rounded-box, 1rem /* 16px */);
    background-color: rgb(228, 228, 228);
}


.range {
    height: 5px;
}

.mobileSidebarMenu{
    position: relative;
    transform: rotateZ(-90deg);
    top: 47px;
    right: 48px;
}
